<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crate Assignment</title>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Tiny Editor -->
    <script src="https://cdn.tiny.cloud/1/hv5jfl3779udgeznah2k7s51whuuy6nwl6q1q6ac41aagch3/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

    <style>
        body {
            margin: 2rem;
        }
    </style>
</head>
<body>
    <form style="width: 720px;" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Assignment Title</label>
                <input type="text" class="form-control" placeholder="Title" name="title" value="{{ assignment.title }}"
                    required>
            </div>
            <div class="form-group col-md-6">
                <label>Assignment Subtitle</label>
                <input type="text" class="form-control" placeholder="Subtitle" name="subtitle" value="{{ assignment.subtitle }}"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Content</label>
                    <textarea name="body" style="height: 51.25rem;">
                        {{ assignment.body }}
                    </textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">{{type}}  Assignment</button>
            </div>
        </div>        
    </form>

   <div class="card">
       <div class="card-body">
           <ul>
               <a href="{{ url_for('show_post_table') }}">Assignment Table</a><br><br>
               <a href="{{ url_for('show_student_table') }}">User Table</a>
           </ul>
       </div>
   </div>

    <script>
        tinymce.init({
            selector: 'textarea', // change this value according to the HTML
            plugins: 'codesample advlist link image lists',
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdentindent| codesample',
        });
    </script>
</body>
</html>