{% extends 'base.html' %}
{% block title %} verify otp {% endblock %}
{% block heading %} Verify OTP {% endblock %}
{% block action %} {{ url_for('verify_otp', std_name = name, std_email=email, std_password=password) }} {% endblock %}

{% block form %}
<label>
    <input type="text" placeholder="OTP" name="otp" required />
</label>
{% endblock %}

{% block button %}
<button class="red" type="submit"
    onclick="{{ url_for('verify_otp', std_name = name, std_email=email, std_password=password) }}">
    <i class="icon fa fa-key"></i>
    Verify
</button>

{% endblock %}