<!DOCTYPE html>
<html>

<body style="background-color: #ebecf0;">
    <div style="background-color:#ebecf0; padding:10px 20px;">
        <div style="text-align: center;">
            <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;color:#2f2187;">
                Welcome to <a href="https://www.python.org/">PyWorld</a>
            </h2>
            <img style="height: 250px;width:400px" src="https://i.ibb.co/2cpDmmj/undraw-firmfare.png"
                alt="welcome-image">
            <p>To complete the process of Registration, you need to active your account.</p>
            <h3>Your OTP is <a href="#"><em style="color: #6609df;">{self.otp}</em></a>.</h3> <br><br>
            <p>If you didn't intend this, just ignore this message</p>

            <p><a href="https://code-with-raj.herokuapp.com/">Visit</a> my website, for more awesome contents.</p>
        </div>
        <code>
            - Python With Raj <br>
            - <a href="https://raj-cv.herokuapp.com">Raj</a> <br>
            - {self.today}
        </code>
    </div>
    
</body>

</html>