<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white copyright"></p>
    </div>
    <!-- /.container -->
</footer>

<!-- Current year script -->
<script>
    var d = new Date();
    var year = d.getFullYear();
    document.getElementsByClassName("copyright")[0].innerText = `Copyright © Raj, ${year}`
</script>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Prism JS -->
<script src="/static/prism/prism.js"></script>
</body>

</html>