{% include "header.html" %}

        {% for post in posts %}
          <!-- Blog Post -->
          <div class="card mb-4">
            <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.subtitle }}</p>
              <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary">Show Assignment &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col-lg-6">
                  Posted on {{ post.date }} by
                  <a target="_blank" href="https://raj-cv.herokuapp.com"">{{ post.author.split(" ")[0] }}</a>
                </div>
                {% if current_user.id == 1 %}
                  <div class="col-lg-6">
                    <a href="{{ url_for('delete_assignment', post_id=post.id) }}" class="btn btn-danger">Delete
                      Assignment</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      
      <div class="col-md-4">
        {% if request.url.split('/')[-1] == "search-post" %}
          <form method="POST" action="{{ url_for('search_indeep', search_key= heading.split(' ')[-2] ) }}">
            <div class="card-body">
              <div class="input-group">
                <span class="input-group-append">
                  <a style="color: white;" href="{{ url_for('search_indeep', search_key= heading.split(' ')[-1]) }}">
                    <input style="width: 15rem;" type="submit" class="btn btn-warning" value="Search Indeep">
                  </a>
                </span>
              </div>
            </div>
          </form>
        {% endif %}

      {% include "search_bar.html" %}
      {% include "categories.html" %}
      {% include "side_bar.html" %}

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% include "footer.html" %}

