{% extends 'blog-base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block heading %} {{ post.title }} {% endblock %}
{% block details %} 
  <hr> <p>Posted on {{ post.date }} by {{ post.author }}</p> <hr>
{% endblock %}

{% block main_content %}
  <p>{{ post.body|safe }}</p>
{% endblock %}

{% block pagination %}
{% endblock %}

<hr>

{% block edit %}
  {% if current_user.id == 1 %}
    <a href="{{ url_for('edit_assignment', post_id=post.id) }}" class="btn btn-info">Edit Assignment</a>
  {% endif %}
{% endblock %}