{% extends 'base.html' %}
{% block title %} reset password {% endblock %}
{% block heading %} Reset your password {% endblock %}
{% block action %} {{ url_for('reset_password') }} {% endblock %}

{% block form %}
<label>
    <input type="text" placeholder="Email" name="email" readonly onfocus="this.removeAttribute('readonly');" required />
</label>
<label>
    <div hidden class="pass">
        <input id="password-field1" type="password" placeholder="Password" name="password" value="{{ password }}"
            autocomplete="off"/>
        <span toggle="#password-field1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
</label>
<label>
    <div hidden class="pass">
        <input id="password-field2" type="password" placeholder="Confirm Password" name="confirm-password"
            value="{{ password }}" autocomplete="off" />
        <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
</label>
{% endblock %}

{% block button %}
<button class="red" type="submit" onclick="{{ url_for('reset_password') }}">
    <i class="icon fa fa-search"></i>
    Search 
</button>
{% endblock %}

{% block message %} 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% if "OTP" in messages[0] %}
                <script>
                    for (let i = 0; i < 2; i++) {
                        document.getElementsByClassName("pass")[i].removeAttribute("hidden");
                        document.getElementsByTagName("input")[i+1].required = true;
                    }
                    document.getElementsByTagName("input")[0].placeholder = "Enter OTP";
                    document.getElementsByTagName("input")[0].name = "otp";
                    document.getElementsByClassName("red")[0].innerHTML = `<i class="icon fa fa-lock"></i>
                    Change Password`
                </script>
            {% endif %}
            <div class="h6"
                style="color: #5cb377; font-weight: 700; opacity: 3; text-align: center; padding-top: 1rem;">
                <em>{{ messages[0] }}</em>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
