<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <form method="POST" action="{{ url_for('search_post') }}">
        <div class="card-body">
            <div class="input-group">
                <input name="keywords" type="text" class="form-control" placeholder="Search for Assignment">
                <span class="input-group-append">
                    <a style="color: white;" href="{{ url_for('search_post') }}">
                        <input type="submit" class="btn btn-primary" value="Go">
                    </a>
                </span>
            </div>
        </div>
    </form>
</div>